.Item1, .Item2 {
    border: 1px solid #e9ebee;
    border-radius:0.9rem;
    border: 1px solid  #e9ebee;
    display: flex;
    background-color:white;
    height: 236px;
    width:220px;
    margin: 0px 10px 20px 20px;  
}
.Item2 {
    height: 300px;
}

.Item1:hover, .Item2:hover, .Item3:hover {
    background-color:rgba(0,0,0,0.2);
}

.ItemParent {
    padding-top:95px;
    display: flex;
    flex-direction:row;
    flex-flow:row wrap;
    justify-content: center;
    align-items:center;
}