.Container {
    display:flex;
    padding:0 10px 0 10px;
    align-items:flex-start;
    flex-direction: row;
    background-color: blue; 
}


/* 
@media (min-height: 680px), screen and (orientation: portrait) {
    
} */