.Button {
    height: 70%;
    background-color: white;
    font-family: inherit; 
    font-weight: bold;
    padding: 8px 15px;
    box-sizing: border-box;
}

.Button:hover {
    border-radius: 25px;
    background-color: #efefef;
    cursor: pointer;
}

